﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="addMovie.aspx.cs" Inherits="Netflix.addMovie" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form2" runat="server">
        <div>
            Enter the Details:<br />
            (Date as YYYY-MM-DD)<br />
            <br />
&nbsp;name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <asp:TextBox ID="name" runat="server"></asp:TextBox>
        </div>
        description:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:TextBox ID="description" runat="server"></asp:TextBox>
        <br />
        relese date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:TextBox ID="date" runat="server"></asp:TextBox>
        <br />
        <br />
        long in minutes:
        <asp:TextBox ID="longM" runat="server"></asp:TextBox>
        <br />
        <br />
        photo link:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:TextBox ID="photo" runat="server"></asp:TextBox>
        <br />
        <br />
        <br />
        <asp:Button ID="adMovie" runat="server" Text="submit" OnClick="adMovie_Click" />
        <p>
            <asp:Label ID="res" runat="server" Text="Label"></asp:Label>
        </p>
    </form>
    <form id="form1" runat="server">
        <div>
        </div>
    </form>
</body>
</html>
